import(BiocGenerics)
export(coexpr)
export(comparecor)
export(diffcoexp)
importFrom("stats", "p.adjust", "pbinom", "pt")
importFrom(DiffCorr,compcorr)
importFrom(SummarizedExperiment, assays)
importFrom(WGCNA,cor)
importFrom(igraph,graph.data.frame)
importFrom(psych,count.pairwise)
